


/* Big tablet to 1200 px (widths smaller than the 1140 px ) */
@media only screen and (max-width: 1200px){

.Experience img,
.Education img{
    max-width:180px;
    max-height:95px;
    margin-left:100px;
}

.main-nav li{
    font-size: 90%; 

}


}

/* Small Tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px){
.row {
    max-width:95%;
}

.main-nav{
    width:100%;
    text-align:center;
}


.main-nav li{
    font-size: 95%; 
    display: inline-block;
    margin-left: 5px; 
    padding:5px;
    text-align: center;

}


.Experience img,
.Education img{
    max-width:180px;
    max-height:95px;
    margin-left:50px;
}


.profile-pic{
    height:0px;
}

h1,h2,h3,h4,h5,p{
    font-size: 80%;
}

.Education li{
    font-size: 80%;
}

.Music li{
    font-size: 80%;
}

.title-page p, sub-header{
    font-size: 80%;
}


li{
    font-size: 80%; 
    margin:0px;
    padding:0px;
}

.live-photo img{
    height: 250px;
}


}


/* Small phones to Small Tablets: from 481 to 767px */
@media only screen and (max-width: 767px){
    .row {
        max-width:95%;
    }

    h1,h2,h3,h4,h5, p{
        font-size: 65%;
    }

    .main-nav{
        width:100%;
        text-align:center;
    }

    .Education li{
        font-size: 65%;
    }

    .Music li{
        font-size: 65%;
    }

    .Research-Experience li{
        font-size: 65%;
    }

    .title-page h1, sub-header{
        font-size: 90%;
    }

    .main-nav li{
        font-size: 60%; 
        display: inline-block;
        margin-left: 8px; 
        padding:3px;
        text-align: center;
    }


    .Experience img,
    .Education img{
        max-width:110px;
        max-height:95px;
        margin-left:30px;
    }

    .profile-pic{
        height:0px;
}

}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    .row {
        max-width:90%;
    }



    .Experience h3,
    .Experience h4,
    .Experience h5,
    .Education h3,
    .Education h4,
    .Education h5{
        text-align:center;
    }
    

    .main-nav{
        width:95%;
        text-align:center;
    }
 
    .main-nav li{
        font-size: 60%; 
        display: inline-block;
        margin-left: 2px; 
        padding:3px;
        text-align: center;
    }

    h1,h2,h3,h4,h5{
        text-align:center;
    }


    .Experience{
        text-align:center;
    }

    .Experience img,
    .Education img{
     height:0px;
    }

    .nikkei-1{
        width: 30%;
        height: auto;
        margin-left:15%;
    }
    
    .nikkei-2{
        width:30%;
        height: auto;
        margin-left: 5%;
    }

    .live-photo img{
        height: 200px;
    }



    



}